.app {
  min-height: inherit;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  display: flex;
}

.sidebar {
  padding: 0 2rem;
  border-right: 0.0625rem solid #e1e4e8;
}

.logo {
  font-size: 2rem;
}

.nav {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  .navItem {
    padding: 0.5rem 0;
    display: flex;
    .icon {
      margin-right: 1rem;
    }
  }
}

.content {
  padding: 0 2rem 0 1rem;
  flex-grow: 1;
}
